.Perfil{
    .html{
        font-family: 'Segoe UI';
    }
    .container{
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    .carta{
        width: 450px;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(26,26,26);
        color: rgb(240, 240, 240);
    }
    .fondoCarta{
        margin-top: -7rem;
        width: 500px;
        height: auto;
        z-index: 1;
    }
    .fotoPerfil{
        position: relative;
        margin-top: -4.5rem;
        border-radius: 80px;
        width: 150px;
        border: 2px solid black;
        z-index: 2;
    }
    .carta p:nth-child(3){
        margin-top: 0.5rem;
        font-size: 25px;
        font-weight: bold;
    }
    .carta p:nth-child(4){
        font-size: 20px;
        margin-top: -24px;
    }
}


body{
    color: #F4EFEA;
}
header{
    color: #7A8F6A;
}
button{
    background-color: #7A8F6A;
}
p{
    color: #2E2E2E;
}

h1, h2, li{
    color: #2E2E2E;
        
}
nav{
    background-color:#C7D3C0 ;
    color: aqua;
}
footer{
    background-color:#C7D3C0 ;
}

.form-control{
    width: 500px;
    padding: 1px;

    
}

.navbar-nav{
    margin-left: auto;
}

.ikons{
    position: relative;

    }
